<%- include('../partials/head') %>

  <%- include('../partials/mobileNavigation.ejs') %>

    <body id="body" class="body-js light-theme">
      <!-- <div class="bg-image">
      </div> -->

      <div class="container">
        <%- include('../partials/navigation.ejs') %>
          <h1 class="about-h1 h2 h2--responsive mb-2">
            A little about me
          </h1>
          <div class="about-img mb-5">
            <img src="assets/shared/focused-vintage-tall.jpg" alt="">
          </div>
      </div>
      <div class="container">
        <div class="stats mb-5">
          <div>
            <span class="stats__data text--bold">
              3
            </span>
            <p class="stats__stat label text--light">
              Years of Experience
            </p>
          </div>

          <div>
            <span class="stats__data text--bold">
              6
            </span>
            <p class="stats__stat label text--light">
              Certificates Earned
            </p>
          </div>

          <div>
            <span class="stats__data text--bold">
              4
            </span>
            <p class="stats__stat label text--light">
              Projects Completed
            </p>
          </div>
        </div>

        <div class="mb-7">
          <span class="stats__data text--bold">
            Montreal
          </span>
          <p class="stats__stat label text--light  ">
            Location
          </p>
        </div>
      </div>

      <div class="logos mb-7">
        <div class="logos-slide">
          <img src="assets/shared/laws-of-ux-cover-art.png" />
          <img src="assets/shared/thinking-fast.png" />
          <img src="assets/shared/art-of-war.png" />
          <img src="assets/shared/before-you-know-it.png" />
          <img src="assets/shared/design-of-everyday-things.png" />
          <img src="assets/shared/to-engineer.png" />
          <img src="assets/shared/clean-code.png" />
          <img src="assets/shared/laws-of-ux-cover-art.png" />
          <img src="assets/shared/thinking-fast.png" />
          <img src="assets/shared/art-of-war.png" />
          <img src="assets/shared/before-you-know-it.png" />
          <img src="assets/shared/design-of-everyday-things.png" />
          <img src="assets/shared/to-engineer.png" />
          <img src="assets/shared/clean-code.png" />
        </div>
      </div>

      <div class="container">
        <div class="about-text text text--responsive mb-9">
          <p>
            Developer and designer based in Montreal, Canada. I specialize in frontend development and design.
            From concept to creation, I'm always thinking about how users will interact with the products I create.
            <br><br>

            As a formally educated business graduate, I bring an important business perspective to the world of design
            and development. My business background allows me to understand the clients' needs, align design choices
            with
            their goals, and effectively communicate project outcomes in a language that resonates with stakeholders
          </p>
        </div>


        <!-- Why Me Section -->
        <div class="why">
          <h2 class="h2 h2--responsive why__heading ">
            Why Me
          </h2>

          <div>
            <div class="why__content">
              <span class="why__subscript h2 h2--responsive color-mustard">
                01
              </span>
              <h3 class="why__title h2 h2--responsive">
                Highly Motivated Individual
              </h3>
              <p class="why__text text--responsive">
                My unwavering drive ensures that I am consistently focused on achieving goals and delivering results.
                I
                excel at pushing projects forward, overcoming challenges, and maintaining a high level of performance
                under pressure.
                <br><br>
                I am committed to continually improving my skills and staying abreast of industry advancements, which
                means I can quickly adapt to new technologies and methodologies that benefit the team and the company
                at
                large.
              </p>
            </div>

            <div class="why__content">
              <span class="why__subscript h2 h2--responsive color-orange">
                02
              </span>
              <h3 class="why__title h2 h2--responsive">
                Excellent analytical and troubleshooting skills
              </h3>
              <p class="why__text text--responsive">
                My ability to dissect and understand intricate systems and processes ensures that issues are not only
                swiftly resolved but also thoroughly analyzed to prevent future occurrences.
                <br><br>
                I am committed to continually improving my skills and staying abreast of industry advancements, which
                means I can quickly adapt to new technologies and methodologies that benefit the team and the company
                at large.
              </p>
            </div>

            <div class="why__content">
              <span class="why__subscript h2 h2--responsive color-salmon">
                03
              </span>
              <h3 class="why__title h2 h2--responsive">
                Team Player With Great Interpersonal Skills
              </h3>
              <p class="why__text text--responsive">
                My strong interpersonal skills enable me to effectively communicate and synchronize efforts, ensuring
                that team goals are met efficiently and enthusiastically.
                <br><br>
                By bridging gaps between different departments and facilitating a seamless flow of information, I help
                create a more integrated and agile organization. This interconnectedness is crucial for tackling
                complex projects that require a cohesive approach, ultimately leading to more successful outcomes and
                a more resilient company culture.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- My Skills Section -->
      <div class="skills">
        <div class="container">
          <h2 class="skills__heading h2--responsive">
            Capabilities
          </h2>

          <div class="skills__wrapper">
            <h3 class="skills__title h3--responsive"> Design </h3>
            <ul>
              <li class="skills__item text--responsive"> UI/UX </li>
              <li class="skills__item text--responsive"> Figma </li>
              <li class="skills__item text--responsive"> WordPress </li>
              <li class="skills__item text--responsive"> Elementor </li>
              <li class="skills__item text--responsive"> MidJourney </li>
              <li class="skills__item text--responsive"> Illustrator </li>
              <li class="skills__item text--responsive"> Photoshop </li>
              <li class="skills__item text--responsive"> AfterEffects </li>
            </ul>
          </div>

          <div class="skills__wrapper">
            <h3 class="skills__title h3--responsive"> Frontend </h3>
            <ul>
              <li class="skills__item text--responsive"> HTML5 </li>
              <li class="skills__item text--responsive"> CSS3 </li>
              <li class="skills__item text--responsive"> CSS Architecture </li>
              <li class="skills__item text--responsive"> CSS Frameworks </li>
              <li class="skills__item text--responsive"> SASS </li>
              <li class="skills__item text--responsive"> JavaScript </li>
              <li class="skills__item text--responsive"> React </li>
              <li class="skills__item text--responsive"> NPM </li>
              <li class="skills__item text--responsive"> Webpack </li>
              <li class="skills__item text--responsive"> Tailwind </li>
              <li class="skills__item text--responsive"> Linters and Formatters </li>
              <li class="skills__item text--responsive"> GSAP </li>
            </ul>
          </div>

          <div class="skills__wrapper">
            <h3 class="skills__title h3--responsive"> Backend </h3>
            <ul>
              <li class="skills__item text--responsive"> NodeJS </li>
              <li class="skills__item text--responsive"> Java </li>
              <li class="skills__item text--responsive"> Python </li>
              <li class="skills__item text--responsive"> Github </li>
              <li class="skills__item text--responsive"> MySQL </li>
              <li class="skills__item text--responsive"> MongoDB </li>
              <li class="skills__item text--responsive"> REST </li>
              <li class="skills__item text--responsive"> Linux </li>
              <li class="skills__item text--responsive"> Github Actions </li>
              <li class="skills__item text--responsive"> Amazon RDS </li>
            </ul>
          </div>

          <div class="skills__wrapper">
            <h3 class="skills__title h3--responsive"> In Progress </h3>
            <ul>
              <li class="skills__item text--responsive"> Testing (Jest, Cypress, Selenium) </li>
              <li class="skills__item text--responsive"> Three.JS </li>
              <li class="skills__item text--responsive"> Docker </li>
              <li class="skills__item text--responsive"> Jenkins </li>
              <li class="skills__item text--responsive"> Amazon Web Services </li>
              <li class="skills__item text--responsive"> CI/CD </li>
              <li class="skills__item text--responsive"> Kubernetes </li>
              <li class="skills__item text--responsive"> PWAs </li>
              <li class="skills__item text--responsive"> Static Site Generators </li>
            </ul>
          </div>
        </div>
      </div>

      <div  >
        <%- include('../partials/footer') %>
      </div>


      <%- include('../partials/end') %>