<%- include('../partials/head') %>

<body id="body" class="body-js light-theme">
  <%- include('../partials/mobileNavigation.ejs') %>

      <div class="container">
        <%- include('../partials/navigation.ejs') %>

          <h1 id="main-heading" class="h1 h1--responsive">
            Blog
          </h1>
      </div>
      <%- include('../partials/scripts') %>
        <script src="<%= script %>"></script>
        <%- include('../partials/end') %>