<%- include('../partials/head') %>

  <body id="body" class="body-js light-theme">

    <!-- Mobile Navigation -->
    <%- include('../partials/mobileNavigation') %>

      <div class="container">
        <header id="header" class="header">
          <!-- Main Navigation -->
          <%- include('../partials/navigation') %>

            <div class="portfolio-title">
              <div class="section-1">
                <span class="char hidden">D</span>
                <span class="char hidden">E</span>
                <span class="char hidden">S</span>
                <span class="char hidden">I</span>
                <span id="g" class="char hidden color-salmon">G</span>
                <span class="char hidden">N</span>
                <span class="char hidden">E</span>
                <span class="char hidden">D</span>
              </div>

              <div class="section-2">
                <span class="char hidden">D</span>
                <span class="char hidden">E</span>
                <span class="char hidden">V</span>
                <span class="char hidden">E</span>
                <span class="char hidden">L</span>
                <span class="char hidden">O</span>
                <span class="char hidden">P</span>
                <span class="char hidden">E</span>
                <span class="char hidden">D</span>
              </div>

              <div class="section-3">
                <span class="char hidden color-mustard">B</span>
                <span class="char hidden">Y</span>
              </div>

              <div class="section-4">
                <span class="char hidden">J</span>
                <span id="a" class="char hidden">A</span>
                <span class="char hidden">M</span>
                <span class="char hidden">E</span>
                <span class="char hidden">S</span>
              </div>

              <div class="section-5">
                <span class="char hidden">L</span>
                <span class="char hidden">E</span>
                <span class="char hidden">-</span>
                <span class="char hidden">G</span>
                <span class="char hidden">O</span>
                <span class="char hidden">F</span>
                <span id="f" class="char hidden color-orange">F</span>
              </div>
            </div>
        </header>
      </div>




  <%- include('../partials/scripts') %>
  <script src="<%= script %>"></script>
<%- include('../partials/end') %>