<%- include('../partials/head') %>

<%- include('../partials/mobileNavigation.ejs') %>

<div class="container">
  <%- include('../partials/navigation.ejs') %>

  <h1> 
    I bring your boldest ideas to life
  </h1>

  <div class="grid">
    <% projects.forEach((element, index) => { %>
      <div classname="grid-item grid-item-<%= index +1 %>" >
        <img src="<%= element.img  %>  " alt="">
        <h1> 
          <%= element.name %>
        </h1>
        <p>
          <%= element.description %>
        </p>
      </div>
    <% }) %>
  </div>
</div>

</body>
<%- include('../partials/end') %>